<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fa-brands fa-airbnb" style="color: #f92f76; font-size: 30px;"></i><b> RENTO</b>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 navBar"> 
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/list">Listings</a>
        </li> 
        <% if(currUser) {%>
          <li class="nav-item">
            <a class="nav-link" href="/list/new">Create Listing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log-Out</a>
          </li>
          <% } else {%>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/signup">Sign-Up </a>
            </li> 
            <% } %>
      </ul>
      <form class="d-flex" name="searchForm" action="/list/search" method="get">
        <input class="form-control me-2" type="search" name="searchInput" placeholder="Search by city" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> 
    </div>
  </div>
</nav>