<%- layout('/layout/boilureplate.ejs') %>

    <body>
        <form action="/<%=userId%>/profile/edit/password?_method=PUT" method="post" class="mb-3 profilePasswordControls">
            <div class="mb-3">
                <label for="profileOldPassword" class="form-label">Old Password</label>
                <input type="password" name="oldPassword" class="form-control" id="profileOldPassword">
            </div>
            <div class="mb-3">
                <label for="profileNewPassword" class="form-label">Set New Password</label>
                <input type="password" name="newPassword" class="form-control" id="profileNewPassword">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Change Password</button>
            </div>
        </form>
    </body> 