.loginForm {
    border: 1px solid rgba(143, 143, 143, 0.507);
    padding: 20px 20px;
    border-radius: 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
}

.loginForm button {
    background-color: rgba(255, 69, 69, 0.822);
    border: none;
}

.loginForm button:hover {
    background-color: rgba(255, 69, 69, 0.925);
}

@media only screen and (max-width:900px) {

    .formContainer {
        height: 60vh;
        display: flex;
        align-items: center;
    }

    .loginForm {
        border: 1px solid rgba(143, 143, 143, 0.507);
        padding: 20px 20px;
        border-radius: 10px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
    }

    #loginLabel {
        text-align: center;
        font-size: 2.5rem;
    }

    .loginForm input {
        font-size: 1.5rem;
    }

    .loginForm button {
        font-size: 1.5rem;
        background-color: rgba(255, 69, 69, 0.822);
        border: none;
    }


    .loginForm button:hover {
        background-color: rgba(255, 69, 69, 0.925);
    }

}